@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

body {
    margin: 0% 0% 0% 0%;
    font-family: 'Lato', sans-serif;
    text-align: center;
}

header {
    background-color: #184E77;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(1fr, 9);
    grid-template-rows: 1fr;
    padding-top: 25px;
    padding-bottom: 25px;
}

.link {
    color: white;
    text-decoration: none;
    text-align: center;
} 

    #head1 {
        font-size: x-large;
        grid-column: 1 / 2;
    }

    #head2 {
        font-size: x-large;
        grid-column: 3 / 4;
    }

    #head3 {
        font-size: x-large;
        grid-column: 5 / 6;
    }

    #head4 {
        font-size: x-large;
        grid-column: 7 / 8;
    }

    img {
        width: 250px;
    }



footer {
    background-color: #184E77;
    color: white;
    text-align: center;
    margin-top: 75px;
    padding-top: 25px;
    padding-bottom: 15px;
    margin-bottom: 0;
    bottom: 0;
}

/* @media (min-width: 375px) {

}

@media (min-width: 375px) {

} */