@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

header {
    background-color: #1d0d63;
    display: grid;
    grid-template-columns: 150px auto;
    position: sticky;
    top: 0px;
    height: 125px;
    font-size: large;
    z-index: 1;
}
  

nav {
    display: flex;
    justify-content: space-around;
    font-size: large;
}

.logo {
    width: 180px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    justify-self: center;
    align-self: center;
    border-radius: 5px;  
}

#link1 {
    font-size: xx-large;
    padding-top: 40px;
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
  
#link2 {
    font-size: xx-large;
    padding-top: 40px;
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
  
#link3 {
    font-size: xx-large;
    padding-top: 40px;
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
  
#link4 {
    font-size: xx-large;
    padding-top: 40px;
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

  body {
    margin: 0% 0% 0% 0%;
    font-family: 'Open Sans', sans-serif;
}

#thankyou-msg {
    margin: 200px 100px 200px 100px;
}

#thankyou-msg2 {
    background-color: #99D98C;
    margin-left: 250px;
    margin-right: 250px;
    margin-top: -21px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 10px;
    padding-left: 10px;
}

h1 {
text-align: center;
background-color: #168AAD;
color: white;
margin-left: 250px;
margin-right: 250px;
}

p {
text-align: center;
/* background-color: #99D98C; */
margin-left: 10px;
margin-right: 10px;
margin-top: 0px;
}

footer {
    background-color: #1d0d63;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    font-size: large;
    margin-top: 100px;
}

