header {
    background-color:   #204060;
    height: 125px;
}

#headertitle {
    color: white;
    text-align: center;
    padding-top: 15px;
}

#headertitle2 {
    color: white;
    text-align: center;
}

#container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.title {
    font-size: x-large;
    color: white;
    background-color: #204060;
    margin-top: 0px;
    padding-bottom: 10px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 10px;
    border-radius: 10px;
}

.image {
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 15px;
}

.businessName {
    font-size: large;
    padding-left: 5%;
    padding-right: 5%;
}

#box1 {
    background-color: lightgrey;
    /* width: 30%; */
    border: black;
    border-style: double;
    border-radius: 15px;
    margin-top: 2%;
    grid-area: 1 / 1 / 2 / 2;
}

#box2 {
    background-color: lightgrey;
    /* width: 30%; */
    border: black;
    border-style: double;
    border-radius: 15px;
    margin-top: 2%;
    grid-area: 1 / 2 / 2 / 3;
}

#box3 {
    background-color: lightgrey;
    /* width: 30%; */
    border: black;
    border-style: double;
    border-radius: 15px;
    margin-top: 2%;
    grid-area: 1 / 3 / 2 / 4;
}

.link {
    font-size: small;
    padding-left: 5%;
    padding-right: 5%;
}

.info {
    font-size: medium;
    padding-left: 5%;
    padding-right: 5%;
}

footer {
    background-color: #204060;
    height: 50px;
}

#footerhead {
    color: aliceblue;
    font-size: x-large;
    margin-bottom: 150px;
    text-align: center;
}